.profileImg {
    width: 225px;
    height: 300px;
    float: right;
}

.featuredPhoto {
    width:  50%;
    height: auto;
}

/*Properties for navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBFBF200;
    /*border-bottom: 1px solid #847577;*/
}
li {
    float: right; /*Have most items to the right of the screen*/
}
.floatLeft {
    float: left; /*Allow us to put sometimes on the left of the screen*/
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding:10px 12px;
    text-decoration: none;
    font-size: 16px;
}
 li a:hover {
     color: rgb(37, 37, 37);
 }
/*Properties for overall pages*/
body, html {
    background-color: #FBFBF2;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  
    height: 100%;
    margin: 0;
}

/*Properties for langind page*/
.bgImg {
    /*Set full screen background image and dull the colour a bit for style*/
    position: relative;
    background-image: url(images/routeburn.jpg);
    opacity: 0.70;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.title {
    /*The main landing page title*/
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
  }
.title span.border {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .enter {
      font-size: 20px;
      letter-spacing: 2px;
      color: #000;
      text-decoration: none;
  }

  .enter:hover {
      color: rgb(37, 37, 37);
  }
  
