.flex-column {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-img {
    background-color: white;
    padding: 5px;
    height: 650px;
    width: auto;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
    margin-right: 2px;
    margin-top: 10px;
}

th,
td {
    padding: 5px;
}

/*Properties for navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBFBF200;
}

li {
    float: right;
    /*Have most items to the right of the screen*/
}

.float-left {
    float: left;
    /*Allow us to put sometimes on the left of the screen*/
}

li a {
    display: block;
    color: #d9d9d9;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 16px;
}

li a:hover {
    color: #4B4B4B;
    /*when we hover over navbar elements highlight them to show interaction*/
}

.frontpage-nav {
    color: #111;
    /*darken navbar elements on cover page for bette contrast*/
}

.frontpage-nav:hover {
    color: #d9d9d9;
}

/*Properties for overall pages*/
html {
    /*Create a gradient so that the "labels" are more obvious*/
    background-image: linear-gradient(to right bottom, #1f1f1f, #191919, #131313, #0b0b0b, #000000);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font: 400 17px/1.8 "Lato", sans-serif;
    color: #d9d9d9;

    height: auto;
    min-height: 100%;
    margin: 0;
}

body {
    height: 100%;
}

/*Properties for landing page*/
.bg-img {
    background-color: #fff;
    /*Set full screen background image and dull the colour a bit for style*/
    position: relative;
    background-image: url(images/routeburn.jpg);
    opacity: 0.90;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

/*Used to dull the background image a bit, looks a little better as landing screen*/
.bg-opacity {
    background-color: black;
    opacity: .2;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10; /*used to be able to still press links*/

}

.title {
    /*The main landing page title*/
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
}

.title span.border {
    /*makes it look like a label*/
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 10px;
}


.enter {
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}

.enter:hover {
    color: rgb(37, 37, 37);
}

footer {
    /*copyright info*/
    position: absolute;
    right: 2px;
    bottom: 2px;
    text-align: right;
    color: #4B4B4B;

    font-size: 12px;
}

.homepage-footer {
    position: absolute;
    right: 1%;
    bottom: 1%;
    text-align: right;
    color: #000;
}

.img-title {
    text-align: left;
}

.img-title span.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 29px;
    letter-spacing: 10px;
}

.img-title span.subheader {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 7px;
}

.gallery {
    background-color: white;
    padding: 5px;
    margin: 5px;
    height: 525px;
    float: right;
}

.feat-photo {
    float: right;
    background-color: white;
    padding: 5px;
    margin: 5px;

}

.gallery img {
    height: 100%;
}

.gallery-portrait {
    background-color: white;
    padding: 5px;
    margin: 5px;
    height: 650;
    float: right;

}

.gallery-portrait img {
    height: 100%;
}

.write-up>p {
    margin-right: 30px;
}